---
import { getLangFromUrl, useTranslations, useTranslatedPath } from './../../utils/i18n/i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav>
    <ul class="menu">
        <li>
            <a href={translatePath('/')}>
              {t('nav.home')}
            </a>
        </li>
        <li>
            <a href={translatePath('/portfolio/')}>
              {t('nav.portfolio')}
            </a>
        </li>
        <li>
            <a href={translatePath('/blog/')}>
              {t('nav.blog')}
            </a>
        </li>
    </ul>
</nav>

<style lang="scss">
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    .page-current {
        color: lime;
        text-decoration: underline;
        text-underline-offset: 10px;
    }
</style>