---
const { title } = Astro.props;
---

<h2>
    {title}
</h2>

<style lang="scss">
    h2 {
        text-align: center;
        color: rgb(239, 218, 28);
        // padding-block: 60px 40px;
        text-transform: uppercase;
    }
</style>